body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #000;
}
.container,.box h1{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.box{
    width: 300px;
    height: 330px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.box h1{
    width: 300px;
    top: 45% !important;
}
.box:before{
    content: "";
    background: linear-gradient(150deg,#ff0000,#e01fe0,#9500ff,#00e600,#ffa500,#ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(20px);
    width: 102%;
    height: 102%;
    animation: moving-gradient 8s linear infinite;
    border-radius: 10px;
}
.box:after{
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1b1414;
    left: -2px;
    top: -2px;
    border-radius: 10px;
}
@keyframes moving-gradient{
    0%{
        background-position: 0 0;
        opacity: 0.5;
    }
    50%{
        background-position: 400% 0;
        opacity: 0.5;
    }
    100%{
        background-position: 400% 0;
        opacity: 0.5;
    }
}